<app-indexnavbar></app-indexnavbar>

<div class="content">

    <div class="first-section container ">
        <h1 class="fw-700 mt-3 mb-3">Get the books you love</h1>
        <p class="fw-400">Huddle re-imagines the way we build communities. You have a voice, but so does your
            audience. Create connections with your users as you engage in genuine discussion.</p>
        <button type="button" class="btn btn-primary btn-lg mt-4 mb-4 border-btn">Get Started For Free</button>


    </div>


</div>
